
    <div>
      <div class="row">
        <div class="col-md-2">
          <ul style=" line-height: 2.3;">
            <h5 style="margin-left: 2.5%; margin-top: 5px;">Menu</h5>
            <li style="list-style-type: none;"><a  routerLink="/algo">Generic Operation</a></li>
            <li style="list-style-type: none;"><a routerLink="/if">If Condition</a></li>
            <li style="list-style-type: none;"><a routerLink="/ifelse">If-Else</a></li>
            <li style="list-style-type: none;"><a routerLink="/switch">Switch-Case</a></li>
            <li style="list-style-type: none;"><a routerLink="/for">For Loop</a></li>
            <li style="list-style-type: none;"><a routerLink="/while">While Loop</a></li>
            <li style="list-style-type: none;"><a routerLink="/dowhile">Do-While Loop</a></li>
          </ul>
        </div>



         <div class="col-md-10" style="background-color: rgb(238, 234, 234);">
          <h2 class="heading" >If-Else Condition</h2>
          <form  (ngSubmit)="OnTaskAdd(f)" #f="ngForm" [formGroup]="IfElse">
          <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>

<br><br>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-left: 5%;">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef  class="text-center"> No. </th>
              <div class="form-group">
              <td mat-cell *matCellDef="let element">

                <mat-form-field appearance="fill">
                  <mat-select  formControlName="position" ngModel>
                    <mat-option *ngFor="let item of position" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </div>
            </ng-container>


            <ng-container matColumnDef="condition">
              <th mat-header-cell *matHeaderCellDef  class="text-center"> Condition </th>
              <div class="form-group">
              <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                  <mat-select  formControlName="condition" ngModel>
                    <mat-option *ngFor="let item of condition" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </td>
              </div>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="variable">
              <th mat-header-cell *matHeaderCellDef  class="text-center"> Variable </th>
              <div class="form-group">
              <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                  <mat-select  formControlName="variable" ngModel>
                    <mat-option *ngFor="let item of variable" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </td>
              </div>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="operator">
              <th mat-header-cell *matHeaderCellDef  class="text-center"> Operator </th>
              <div class="form-group">
              <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                  <mat-select  formControlName="operator" ngModel>
                    <mat-option *ngFor="let item of operators" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              </div>
            </ng-container>


            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef  class="text-center"> Action </th>
              <div class="form-group">
              <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                  <mat-select  formControlName="action" ngModel>
                    <mat-option *ngFor="let item of action" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              </div>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <br>
          <section>

            <div class="example-button-row">
              <button mat-raised-button color="warn">Back</button>&nbsp;
              <button mat-raised-button color="primary" type="submit">Save Algorithm</button>

            </div>
          </section>
</form>

    </div>
    </div>
    </div>

