<html>
    <body>

<div style=" background-image:url('https://i.redd.it/o8dlfk93azs31.jpg'); height: 100%">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-5 col-md-4 text-center">
                    <h1 class='text-white' style="font-family: sans-serif;">Login Here!!</h1>
                      <div class="form-login"><br>
                        <br>
                        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username"/>
                        <br><br>
                        <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password"/>
                        <br><br>
                        <div class="wrapper">
                                <span class="group-btn">
                                    <a href="/algohome" class="btn btn-danger btn-md">login <i class="fa fa-sign-in"></i></a>
                                </span>
                                <a href="/signup"><p>Don't have account?</p></a>
                                <a href="#"><p>Forgot password</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>

        </div>
        </div>
        </body>
        </html>
