table {
  width: 50%;
  margin-left: 20%;
}
.heading{
  color:  rgb(45, 209, 86);
  font-weight: bolder;
  font-family: sans-serif;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 40%;
}
body {
  height: 0%;
}

a{
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.example-button-row {
  display: table-cell;
  width: 490px;
  text-align: center;
}

.example-button-row  {
  margin: 8px 8px 8px 0;
}


